@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("avatar.css");
@import url("container.css");
@import url("button.css");
@import url("banner.css");
@import url("card.css");

body{
	font-family: 'Lora', sans-serif;
	background-color: #D5BD8C;
	font-size: 18px;
	margin: 0px;

}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1{
	color: black;
}

h2{
	text-align: center;
}

a{
	text-decoration: none;
}

.containercenter{
	width: 700px;
	margin: 0 auto;
	text-align: "center";
}